<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit Your Review</title>
</head>
<body class="write_background">



    <header class="header_main">

        <div class="header_buttons">
            <a href="/users/home" type="button" class="button_dinespotter"><img src="/static/images/dinespotter_logo.png" class="logo" alt="dinespotter_logo"></a>
            <a href="/users/{{ session.id }}/reviews" type="button" class="button_my_page"><img src="/static/images/my_reviews.png" class="my_reviews" alt="my_reviews"></a>
        </div>

        <img class="image_header" src="/static/images/update_review.PNG" alt="background">
            
        <a href="#" type="button" class="button_logout"><img src="/static/images/logout.png" class="logout" alt="logout"></a>

    </header>




    <div class="container_review_write">

            <form class="container_form" action='/review/update' method="POST">
                <div class="container_form_inside">
            
                    <div class="create_form_field">
                        <label class="create_form_field_text" for="restaurant">Restaurant: </label>
                        <input class="form_field_input" type="text" id="restaurant" name="restaurant" value="{{ review.restaurant }}">
                    </div>

                    <div class="create_form_field">
                        <label class="create_form_field_text" for="location">Location: </label>
                        <input class="form_field_input" type="text" id="location" name="location" value="{{ review.location }}">
                    </div>

                    <div class="create_form_field">
                        <label class="create_form_field_text" for="item_ordered">Item Ordered: </label>
                        <input class="form_field_input" type="text" id="item_ordered" name="item_ordered" value="{{ review.item_ordered }}">
                    </div>

                    <div class="create_form_field">
                        <p> Item Rating:</p>
                        <div class="item_review">
                            <input type="radio" id="star1" name="item_review" value="1">
                            <label for="star1"></label>
                            <input type="radio" id="star2" name="item_review" value="2">
                            <label for="star2"></label>
                            <input type="radio" id="star3" name="item_review" value="3">
                            <label for="star3"></label>
                            <input type="radio" id="star4" name="item_review" value="4">
                            <label for="star4"></label>
                            <input type="radio" id="star5" name="item_review" value="5">
                            <label for="star5"></label>
                        </div>
                    </div>

                    <div class="create_form_field">
                        <p> Service Rating:</p>
                        <div class="service_review">
                            <input type="service_star1" id="service_star1" name="service_review" value="1">
                            <label for="star1"></label>
                            <input type="radio" id="service_star2" name="service_review" value="2">
                            <label for="service_star2"></label>
                            <input type="radio" id="service_star3" name="service_review" value="3">
                            <label for="service_star3"></label>
                            <input type="radio" id="service_star4" name="service_review" value="4">
                            <label for="service_star4"></label>
                            <input type="radio" id="service_star5" name="service_review" value="5">
                            <label for="service_star5"></label>
                        </div>
                    </div>

                    <div class="create_form_field_description">
                        <label class="me-2" for="description">Describe The Experience: </label>
                        <textarea id="location" name="description" rows="8" cols="50">{{ review.description }}</textarea><br>
                    </div>
                
                <div class="button_single">
                    <input class="button_submit_review" type="submit" value="Submit Your Review">
                </div>

                </div>
            </form>
            
            <div class="flash_messages_cont">
            {% with messages = get_flashed_messages(category_filter = ['write']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="review_messages">{{ message }} - </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>

    </div>

</body>
</html>