<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Review</title>
</head>
<body class="main_background">

    <header class="header_main">
        <div class="header_buttons">
            <a href="/users/home" type="button" class="button_dinespotter"><img src="/static/images/dinespotter_logo.png" class="logo" alt="dinespotter_logo"></a>
            <a href="/reviews/new" type="button" class="button_write_review"><img src="/static/images/write_a_review.png" class="write_a_review" alt="write_a_review"></a>
        </div>

        <img class="image_header" src="/static/images/dinespotter.png" alt="dinespotter">
            
        <a href="/users/logout" type="button" class="button_logout"><img src="/static/images/logout.png" class="logout" alt="logout"></a>
    </header>




    <div class="container_one">
        <div class="container_one_review">
            <div class="container_review_content">
                

                <div class="review_field">
                    <p class="review_title">Restaurant Name:</p>
                    <h2 class="review_info">{{ review.restaurant }}</h2>
                </div>
                <div class="review_field">
                    <p class="review_title">Location:</p>
                    <h3 class="review_info">{{ review.location }}</h3>
                </div>
                <div class="review_field">
                    <p class="review_title">Item ordered:</p>
                    <h3 class="review_info">{{ review.item_ordered }}</h3>
                </div>
                <div class="review_field">
                    <p class="review_title">Item Review:</p>
                    <h4 class="review_info">{{ review.item_review }}/5</h4>
                </div>
                <div class="review_field">
                    <p class="review_title">Service Review:</p>
                    <h4 class="review_info">{{ review.service_review }}/5</h4>
                </div>
                <div class="review_field">
                    <p class="review_title">Description of Experience:</p>
                    <h5 class="review_info">{{ review.description }}</h5>
                </div>


            </div>
        </div>
    </div>


    <div class="container_edit_buttons">
        {% if session.id == review.user_id %}        <!-- jinja if statement goes here for validation -->
            <a href="/reviews/edit/{{ review.id }}" type="button" class="button_edit_review"><img src="/static/images/edit_review.png" class="edit_review" alt="edit_review"></a>
            <a href="/users/{{ session.id }}/reviews" type="button" class="button_my_page"><img src="/static/images/my_reviews.png" class="my_reviews" alt="my_reviews"></a>
            <a href="/reviews/delete/{{ review.id }}" type="button" class="button_delete_review"><img src="/static/images/delete_review.png" class="delete_review" alt="delete_review"></a>
        {% endif %} 
    </div>
</body>
</html>