* {
    padding: 0;
}
 /* --------------- STAR RATING - ITEM - -------------- */
.item_review {
    display: flex;
    flex-direction: row-reverse; 
}

.item_review input {
    display: none;
}

.item_review label {
    font-size: 30px;
    cursor: pointer;
    color: #dddddd;
    order: 5; /* Initially, the first star is positioned last */
}

.item_review label:before {
    content: '★';
}

.item_review input:checked ~ label {
    color: rgb(255, 187, 0);
}

.item_review input:checked ~ label:before {
    content: '★';
} 



/* --------------- STAR RATING - SERVICE -  -------------- */
.service_review {
    display: flex;
    flex-direction: row-reverse; 
    /* Stars will be displayed from right to left */
}

.service_review input {
    display: none;
}

.service_review label {
    font-size: 30px;
    cursor: pointer;
    color: #dddddd;
    order: 5; /* Initially, the first star is positioned last */
}

.service_review label:before {
    content: '★';
}

.service_review input:checked ~ label {
    color: rgb(255, 187, 0);
}

.service_review input:checked ~ label:before {
    content: '★';
} 



/* ----------------- Backgrounds ---------------------- */
.login_background{
    background-image: url(../images/login_reg.PNG);
    background-size: cover;
}

.main_background{
    background-image: url(../images/restaurant5.jpg);
    background-size: cover;
}

.write_background, .edit_background{
    background-image: url(../images/restaurant3.jpeg);
    background-size: cover;
}

.background_one_review {
    max-width: 75%;
    opacity: 60%;
}




/* ----------------- Containers ---------------------- */
.contianer_login_reg {
    margin: 0 auto;
    width: 85%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.container_reg {
    display: flex;
    background-color: rgba(255, 255, 255, 0.40);
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px;
    padding-top: 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    border: 2px solid #5a677d;
    border-radius: 10px;
}

.container_login {
    display: flex;
    background-color: rgba(255, 255, 255, 0.40);
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    padding-top: 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    border: 2px solid #5a677d;
    border-radius: 10px;
}

.reg_border, .login_border {
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 10px black;
}

.container_review_write {
    display: flex;
    justify-content: center;
}

.container_form {
    margin-top: 15px;
    gap: 10px; 
    border: 3px solid #000000;
    background-image: url(/static/images/content_background1.jpg);
    background-size: cover;
    border-radius: 10px;
}

.container_form_inside {
    padding: 15px;
}

.container_table {
    display: flex;
    background-color: rgba(255, 255, 255, 0.40);
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    border: 2px solid #5a677d;
    border-radius: 10px;
}

.container_one {
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_one_review {
    width: 75%;
    min-height: 790px;
    margin: 15px 15px;
    background-image: url(/static/images/callout.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    opacity: 70%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_review_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-right: 25px;
    margin-bottom: 125px;
    max-width: 65%;
}

.container_edit_buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}




/* ----------------- BUTTONS / LINKS ---------------------- */
.button_register, .button_login {
    margin: 15px auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.40);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    text-decoration: none;
    white-space: nowrap;
}

.button_container {
    margin: 15px auto;
}

.button_logout {
    margin: 5px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
}

.button_dinespotter {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: zoom-in;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
}

.button_my_page{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 5 solid black;
    text-decoration: none;
    white-space: nowrap;
}

.button_submit_review{
    margin: 5px;
    background-color: #c8b7a3;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: none;
    text-decoration: none;
    white-space: nowrap;
}

.button_single {
    margin: 20px;
    margin-top: 0px;
}

.button_write_review {
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 5 solid black;
}

.button_edit_review {
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 5 solid black;
}

.button_user_reviews {
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 5 solid black;
    text-decoration: none;
}

.button_delete_review {
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: 5 solid black;
}


.link_restaurant {
    text-decoration: none;
    font-weight: bold;
    color: black
}



/* ----------------- HEADERS ---------------------- */
.header_login {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: center;
}

.header_main {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 0px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.40);
}

.header_buttons {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.h1_greeting {
    color: black;
    text-shadow: 3px, 3px, 4px, black;
}

.greeting {
    margin: 20px 20px;
}


/* ----------------- IMAGES ---------------------- */
.image_header {
    padding: 10px;
    width: 40%;
}

.logo {
    width: 100px;
}

.my_reviews {
    width: 100px
}

.write_a_review {
    width: 125px;
}

.logout {
    width: 80px;
}

.edit_review {
    width: 100px
}

.delete_review {
    width: 125px
}

.see_review {
    width:75px;
}

.edit_image {
    width: 50%;
}

.delete_image {
    width: 50%;
}




/* ----------------- FORM ELEMENTS ---------------------- */
.reg_form, .login_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg_form_field, .login_form_field {
    margin: 15px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    box-shadow: 4px 4px 10px black;
}

.reg_form_text, .login_form_text {
    margin-right: 15px;
}

.create_form_field {
    margin: 15px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    background-color: #c8b7a3e8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.create_form_field_description {
    margin: 15px;
    padding: 10px;
    display: flex;
    font-weight: bold;
    background-color: #c8b7a3e8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.create_form_field_text {
    margin-right: 15px;
}

.create_form_field_input {
    size: 350px;
}

.form_field_input {
    size: 66%;
}



/* ----------------- FLASH MESSAGES -------------------- */
/* .flash_messages_cont {
    margin-top: 5px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
} */

.flash_messages_container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.40);
    margin: 0 auto;
    margin-top: 10px;
    /* margin-right: 15px; */
    padding: 10px;
    padding-top: 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    border: 2px solid #5a677d;
    border-radius: 10px;
}

.flash_border {
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 10px black;
}

.review_messages {
    text-align: center;
    margin: 1px;
    padding: 3px;
}



/* ----------------- TABLES -------------------- */
.table_border {
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 10px black;
}

.dashboard_table {
    margin: 10px;
    padding-right: 15px;
    border-collapse: separate;
    border-spacing: 10px 20px;
    width: 100%;
}

.img_title {
    max-width: 175px;
    margin: 10px;
    padding: 15px;
}

.table_data {
    text-align: center;
}

.table_body_row{
    padding-top: 10px;
}

.table_data_see_review {
    text-align: center;
    /* margin-right: 10px; */
}

.table_data_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ----------------- SHOW ONE REVIEW FIELDS -------------------- */

.review_field {
text-align: center;

}

.review_title {
    margin: 0 auto;
    padding: 0;
}

.review_info {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    text-shadow: 3px 3px 3px white;
}


/* ----------------- LOGIN / REGISTRATION -------------------- */



